body{
    background-color: #3b0404;
    color: #ffffff;
    font-size: 40px;
}

h1{
    color: #e3bd00;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    color: #ffffff;
     font-size: 30px;
    text-align: left;
   
}

.container{
    display: flex;
    background-color: #000000;
    padding: 10px; 
    border-style: dashed;
    border-width: 2px;
    border-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px ;
    border-radius: 20px;
    flex-direction: row;
    
    
    
}

div {
    display: flex;
    text-align: center;
    
}

img{
    border-radius: 30%;
}

h3 {
background-color: black;
text-align: center;
color: white;
font-size: 50px;


}

h4 {

background-color: black;
text-align: center;
color: white;
font-size: 50px;

}

.container div{
    background-color: #881010 ;
    margin: 20px;
    padding: 10px;
    font-size: 20px;

}

@media (max-width:600px){
    .container{
        flex-direction: column;
    }
}



 


