body {

background-image: url(/Portafolio/assets/descarga1.gif);


}

.container {
background-color: rgb(0, 0, 0);
padding: 70px;
margin: 100px;
color: white;
text-align: center;
font-size: 60px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-style: dashed;




}

h1 {

background-image: url(/Portafolio/assets/descarga.gif);
margin-left: 500px;
margin-right: 500px;

}


h2 {
background-image: url(/Portafolio/assets/descarga.gif);
margin-left: 500px;
margin-right: 500px;

}


